@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  height: 100%;
  overflow: hidden;
  font-family: "Noto Serif", serif;
  --card-background: white;
  --dark-green: #1E2D18;
  --bg-color: #FCF6F0;
  --border: 1px solid rgb(220, 220, 220);
}

#root {
  height: 100%;
}

body {
  overflow: auto;
  padding-top: 80px;
  background: var(--bg-color);
}


h1,
h3 {
  margin: 7px 0px 14px 0px;
}

h1 {
  font-size: 28px;
  line-height: 1.1;
  font-family: "Noto Serif", serif;
  font-weight: 400;
  font-style: italic;
  color: var(--dark-green);
}

h3 {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 100;
  font-style: normal;
  font-size: 30px;
  letter-spacing: 2%;
  color: var(--dark-green);
}

h4 {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 2px;
}

p {
  margin: 0;
  opacity: 0.9;
  width: 100%;
  font-size: 18px;
  text-align: justify;
  line-height: 28px;
}

a {
  color: black;
  text-decoration: none;
}

form {
  width: 100%;
  display: flex;
  max-width: 500px;
  border-radius: 5px;
  flex-direction: column;
  background-color: var(--card-background);
  padding: 21px 21px 28px 21px;
  border: var(--border);
  box-shadow: -1px 5px 19px -5px rgba(0, 0, 0, 0.25);
}

button,
a {
  cursor: pointer;
}
